#top{
  text-align: center;
  background-color: lightblue;
  padding: 2%;
}

#buttonDiv{
  margin-top:2%;
}

#attribution{
  text-align: center;
  display: none;
}

#divDisplay{
  text-align: center;
  max-width: 36vw;
  max-height: 64vh;
  overflow: hidden;
  border: 1px solid black;
}