body{
  margin: 0%;
}
#top{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  background-color: lightblue;
  padding: 2%;
  margin: 0%;
  max-height: 25h;
  min-height: 25vh;
  border-bottom: .5vh solid rgb(167, 181, 185);
  box-shadow: .5vh 1vh solid rgb(115, 117, 131);
  width: 100%;
}

#upArrow{
  position: relative;
  top: -5vh;
  left: 48%;
  max-height: 5vh;
  max-width: 5vw;
  border: none;
  background-color: transparent;
}
#upArrow > img{
  position: relative;
  bottom: 50%;
  max-height: 5vh;
  max-width: 5vw;
}
.btn{
  max-width: 10vw;
  max-height: 10vh;
  border: none;
  background-color: transparent;
}
.btn:hover{
  transform: scale(1.25);
}
.btn > img{
  padding: 1%;
  max-width: 10vw;
  max-height: 10vh;
}
#downArrow{
  position: relative;
  top: 0vh;
  left: 48%;
  max-height: 5vh;
  max-width: 5vw;
  border: none;
  background-color: transparent;
  display: none;
}
#downArrow > img{
  position: relative;
  bottom: 50%;
  max-height: 5vh;
  max-width: 5vw;
}
.radioLabel{
  font-size: small;
}
@supports (display: grid){
  .topGrid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
  }

  #colorDiv{
    grid-row: 1;
    grid-column: 1/5;
  }

  #rotateButton{
    grid-row: 1;
    grid-column: 8;
    max-height: 5vh;
    max-width: 5vh;
  }
  #rotateButton > img{
    max-height: 5vh;
    max-width: 5vh;
  }


  .inputDiv{
    grid-row: 1;
    grid-column: 8/9;
  }
  #searchButtonDiv{
    grid-row: 1;
    grid-column: 9;
  }

  #presetButtonsDiv{
    grid-row: 2;
    grid-column: 1/10;
    padding: 1%;
  }

  #peopleButton{
    grid-row: inherit;
    grid-column: 1;
  }
  #animalsButton{
    grid-row: inherit;
    grid-column: 2;
  }
  #plantButton{
    grid-row: inherit;
    grid-column: 1;
  }

}

#attribution{
  text-align: center;
  display: none;
}

#divDisplay{
  text-align: center;
  overflow: hidden;
}